In [1]:
# Import libraries
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
import plotly.io as pio
import functions as fun
import importlib as imp

# Set additional settings for warnings and templates
import warnings
warnings.filterwarnings("ignore")
pio.templates.default = "plotly_white"
pd.set_option('display.max_columns', None)
pd.options.display.float_format = "{: .3f}".format

In [24]:
# Reload functions if they were changed
imp.reload(fun)

In [4]:
# Params for all simulations
number = 1000

### Simulation of the random time series

In [45]:
# Params for random simulations
length = 5000
mean = 0
sigma = 100

In [53]:
# Create simulations
for type in ['normal', 'rw']:
    data = fun.generate_random_series(length, number, mean, sigma, type)
    data.to_parquet(f'Definition_simulations/original/{type}.parquet')

### Simulation of the time series by sand piles

In [35]:
# Params for sand pile simulations
number_of_nodes = 500
length = number_of_nodes * 5
ER_prob = 4 / number_of_nodes
CL_average = 12
dist = 'uni'

In [38]:
# Simulate sand pile for 4 combinations of types and models
for type in ['ER', 'CL']:
    for model in ['BTW', 'MA']:
        data = pd.DataFrame()
        for i in tqdm(range(number)):
            G = fun.graph_generation(graph_type = type, number_of_nodes = number_of_nodes, ER_prob = ER_prob, CL_average = CL_average)
            grains = fun.grain_generator(number_of_nodes, length, dist)
            data[str(i)] = fun.spread(model, G, length, grains)
        data.to_parquet(f'Definition_simulations/original/{type}_{model}.parquet')

100%|██████████| 1000/1000 [1:11:06<00:00,  4.27s/it]
100%|██████████| 1000/1000 [50:28<00:00,  3.03s/it]
100%|██████████| 1000/1000 [56:21<00:00,  3.38s/it]
100%|██████████| 1000/1000 [50:43<00:00,  3.04s/it]

### Choice of the best border to define critical transition

In [28]:
crit = np.linspace(1.1, 1.5, 9)
# window = np.linspace(50, 300, 6)
window = [100]
stats = pd.DataFrame(columns = ['Sim', 'Crit', 'Window', 'Mean'])

# Load simulated time series
for i in tqdm([i for i in os.listdir('Definition_simulations/original') if i.endswith('.parquet')]):
    for c in crit:
        for w in window:
            # Calculate the critical transition
            data = fun.critical_transition(pd.read_parquet(f'Definition_simulations/original/{i}'), c, w)
            data_rise = data[data.columns[data.columns.str.contains(', Rise')]]
            data_rise.to_parquet('Definition_simulations/stats/' + i.split('.')[0] + '_' + str(round(c, 2)).replace('.', '_') + '_' + str(w) + '.parquet')
            stats = stats.append({'Sim': i.split('.')[0], 'Crit': c, 'Window': w, 
                                  'Mean': data_rise.values.sum() / data_rise.shape[1]}, ignore_index = True)
stats.to_parquet('Definition_simulations/stats/stats.parquet')
stats

100%|██████████| 6/6 [04:38<00:00, 46.45s/it]

       Sim   Crit Window     Mean
0   CL_BTW  1.100    100  146.670
1   CL_BTW  1.150    100   68.724
2   CL_BTW  1.200    100   31.487
3   CL_BTW  1.250    100   16.328
4   CL_BTW  1.300    100    9.560
5   CL_BTW  1.350    100    5.830
6   CL_BTW  1.400    100    3.699
7   CL_BTW  1.450    100    2.411
8   CL_BTW  1.500    100    1.545
9    CL_MA  1.100    100  110.466
10   CL_MA  1.150    100   49.252
11   CL_MA  1.200    100   20.398
12   CL_MA  1.250    100    8.798
13   CL_MA  1.300    100    3.938
14   CL_MA  1.350    100    1.712
15   CL_MA  1.400    100    0.716
16   CL_MA  1.450    100    0.316
17   CL_MA  1.500    100    0.122
18  ER_BTW  1.100    100  129.065
19  ER_BTW  1.150    100   68.162
20  ER_BTW  1.200    100   32.262
21  ER_BTW  1.250    100   16.712
22  ER_BTW  1.300    100    9.058
23  ER_BTW  1.350    100    4.814
24  ER_BTW  1.400    100    2.554
25  ER_BTW  1.450    100    1.624
26  ER_BTW  1.500    100    0.773
27   ER_MA  1.100    100  140.521
28   ER_MA  1.150    100   60.290
29   ER_MA  1.200    100   22.437
30   ER_MA  1.250    100    9.722
31   ER_MA  1.300    100    4.770
32   ER_MA  1.350    100    2.095
33   ER_MA  1.400    100    1.091
34   ER_MA  1.450    100    0.811
35   ER_MA  1.500    100    0.370
36  normal  1.100    100   36.470
37  normal  1.150    100    5.649
38  normal  1.200    100    0.895
39  normal  1.250    100    0.146
40  normal  1.300    100    0.014
41  normal  1.350    100    0.002
42  normal  1.400    100    0.000
43  normal  1.450    100    0.000
44  normal  1.500    100    0.000
45      rw  1.100    100   32.236
46      rw  1.150    100    5.152
47      rw  1.200    100    0.997
48      rw  1.250    100    0.070
49      rw  1.300    100    0.000
50      rw  1.350    100    0.000
51      rw  1.400    100    0.000
52      rw  1.450    100    0.000
53      rw  1.500    100    0.000